<div class="d-flex justify-content-center my-4">
  <% if user_signed_in? %>
  <%= link_to 'Home', user_path(current_user) %>
  <% else %>
  <%= link_to 'Home', root_path %>
  <% end %>

</div>


<div class="container mt-4">
  <h1>Chats for <%= @user.name %></h1>
  
  <h2>Sent Messages</h2>
  <% @user.sent_messages.each do |message| %>
    <div class="card mb-2">
      <div class="card-body">
        <p class="card-text"><%= message.content %></p>
        <footer class="blockquote-footer">To: <%= message.receiver.name %></footer>
      </div>
    </div>
  <% end %>

  <h2>Received Messages</h2>
  <% @user.received_messages.each do |message| %>
    <div class="card mb-2">
      <div class="card-body">
        <p class="card-text"><%= message.content %></p>
        <footer class="blockquote-footer">From: <%= message.sender.name %></footer>
      </div>
    </div>
  <% end %>
</div>
