<h1 class="mb-4">New Message</h1>
<%= form_with(model: @message, local: true) do |form| %>
  <!-- ... other form fields ... -->
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :receiver_id %>
    <%= form.collection_select :receiver_id, User.all, :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Send Message', class: 'btn btn-primary' %>
  </div>
<% end %>
