<div class="d-flex justify-content-center my-4">
  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>

<!-- Heading for the new comment section -->
<h1 class="mb-4">New Comment</h1>

<!-- Error Messages -->
<% if @comment.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <!-- Error count -->
    <h2>
      <%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:
    </h2>

    <!-- Error list -->
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Comment Form -->
<%= form_for [@post, @comment], url: post_comments_path(@post), html: { class: 'needs-validation', novalidate: true } do |f| %>
  <div class="mb-3">
    <%= f.label :content, class: 'form-label' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :user_id, class: 'form-label' %>
    <%= f.collection_select :user_id, User.all, :id, :name, { prompt: "Choose a user" }, { class: 'form-select' } %>
  </div>

  <div class="actions mb-3">
    <%= f.submit 'Submit Comment', class: 'btn btn-primary' %>
  </div>
  
  <div class="actions mb-3">
    <%= link_to 'Back to Post', post_path(@post), class: 'btn btn-primary' %>
  </div>
<% end %>
