<div class="d-flex justify-content-center my-4">
  <% if user_signed_in? %>
  <%= link_to 'Home', user_path(current_user) %>
  <% else %>
  <%= link_to 'Home', root_path %>
  <% end %>

</div>


<div class="container mt-4">
  <h1>Welcome to Appable!!!!</h1>
  <tbody>
    <% if user_signed_in? %>
    <p>Hello, <%= current_user.name %></p>
    <%#link_to 'Sign out', destroy_user_session_path, method: :delete #%>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </tbody>
</div>



