<div class="d-flex justify-content-center my-4">
  <% if user_signed_in? %>
  <h1>Curated Home Page</h1>
  <% else %>
  <h1>Welcome to Appable!!!!</h1>
  <% end %>

</div>


<div class="container mt-4">
  <tbody>
    <% if user_signed_in? %>
    <div class="d-flex justify-content-center">
      <%= link_to 'All Posts', posts_path, class: 'btn btn-outline-primary btn-sm me-2' %>
      <%= link_to 'All Users', users_path, class: 'btn btn-outline-primary btn-sm me-2' %>
      <%= link_to 'My Profile', user_path(current_user), class: 'btn btn-outline-primary btn-sm me-2' %>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% current_user.display_posts.each do |post| %>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title"><%= post.title %></h2>
              <p class="card-text"><%= truncate(post.content, length: 250) %></p>
            </div>
            <div class="card-footer text-muted">
              Posted by <%= post.user.name %> at <%= post.created_at.strftime("%B %d, %Y %H:%M") %>
            </div>
            <%= link_to 'Show Post', post_path(post), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
    <%link_to 'Sign out', destroy_user_session_path, method: :delete%>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </tbody>
</div>



