<div class="d-flex justify-content-center">
  <%= link_to 'Home', root_path, class: 'btn btn-outline-primary btn-sm me-2' %>
  <%= link_to 'My Profile', user_path(current_user), class: 'btn btn-outline-primary btn-sm me-2' %>
</div>

<h1 class="my-4">Public Posts</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @posts.each do |post| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title"><%= post.title %></h2>
          <p class="card-text"><%= truncate(post.content, length: 250) %></p>
        </div>
        <div class="card-footer text-muted">
          Posted by <%= post.user.name %> at <%= post.created_at.strftime("%B %d, %Y %H:%M") %>
        </div>
        <%= link_to 'Show Post', post_path(post), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>



