<div class="d-flex justify-content-center my-4">
  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>

<div class="mt-4 mb-4">
  <div class="text-center">
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
    <p class="text-muted">Posted by <%= @post.user.name %> on <%= @post.created_at.strftime("%B %d, %Y") %></p>
  </div>
  
  <div class="d-flex justify-content-center">
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-secondary btn-sm me-2" %> |
    <%= link_to "User's Posts", user_path(@post.user), class: "btn btn-outline-secondary btn-sm ms-2" %>
  </div>

  <!-- Link to the new comment page -->
  <div class="text-center mt-3">
    <%= link_to 'Add Comment', new_post_comment_path(@post), class: "btn btn-primary btn-sm", role: "button" %>
  </div>

  <!-- Existing comments -->
  <% if @post.comments.any? %>
    <div class="mt-4 mb-2 text-center">
      <h2>Comments</h2>
    </div>
    <% @post.comments.each do |comment| %>
      <div class="card mb-2">
        <div class="card-body">
          <strong>Commenter:</strong> <%= comment.user.name %>
          <p class="card-text"><%= comment.content %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="text-center">No comments yet.</p>
  <% end %>
</div>







